.AlbumSearchResultsElement {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.AlbumSearchResultsElement_image {
  width: 150px;
  height: 150px;
}

.AlbumSearchResultsElement_albumName {
  margin-top: 0.5em;
}
