.AlbumSearchResultsElement {
    height: calc(150px + 2em);
    width: calc(150px + 2em);
    padding: 1em;

    // white-space: nowrap;
    // overflow: hidden;
    // border: 2px solid white;
}

.AlbumSearchResultsElement_image {
    width: 150px;
    height: 150px;
}

.AlbumSearchResultsElement_albumName {
    text-overflow: ellipsis;
}

.AlbumSearchResultsElement_artists {
    text-overflow: ellipsis;
}
