.Player {
    .Player_content {
        display: flex;

        .Player_content_cover {
            img {
                height: 100px;
                width: auto;
            }
        }

        .Player_content_info {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            text-align: left;
            padding-left: 1em;
        }

        .Player_content_controls {
            display: flex;
            align-items: center; // aligns the controls vertically
            padding-right: 1em;
        }
    }
}