@import '../variables';

$playlistElementPadding: 1em;

.PlaylistElement {
    display: inline-flex;
    width: calc(100% - 2 *#{$playlistElementPadding});

    padding: $playlistElementPadding;
    border-bottom: 2px solid white;
}

.PlaylistElement_songInfo {
    flex-grow: 1;
}

.PlaylistElement--NoBorder {
    border-bottom: none;
}

.PlaylistElement_image {
    width: 100px;
    height: 100px;
}
