@import "../variables";

$playlistElementPadding: 1em;

.PlaylistElement {
  display: inline-flex;
  width: calc(100% - ($playlistElementPadding));

  padding: $playlistElementPadding;
  border-bottom: 2px solid white;
}

.PlaylistElement--NoBorder {
  border-bottom: none;
}

.PlaylistElement_image {
  width: 100px;
  height: 100px;
}

.PlaylistElement_voteButtons {
  margin-left: auto;
  margin-right: 1em;
}
