@import '../variables';

$seek_bar_time_height: 12px;

.SeekBar {
  background-color: white;

  .SeekBar_progress {
    max-width: 100%;
    height: 5px;
    background-color: $highlight_color;
    text-align: right;

    .Time {
      font-size: $seek_bar_time_height;
      height: $seek_bar_time_height;
      line-height: 1;
      color: white;
      margin: 0;
      padding: 0 0.3em;
      display: none;
    }
  }

  &.modifiable {
    cursor: pointer;

    &:hover {
      .SeekBar_progress {
        height: $seek_bar_time_height;
        .Time {
          display: block;
        }
      }
    }
  }
}
