.SongInfo {
  margin-left: 1em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.SongInfo_suggestedBy {
  margin-top: 1em;
}

.SongInfo_duration {
  margin-top: 1em;
}
