$width: 120px;

.ArtistSearchResultsElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 0;
  max-width: $width;

  .ArtistSearchResultsElement__image {
    img {
      width: $width;
      height: $width;
      border-radius: 60px;
    }
  }

  .ArtistSearchResultsElement__name {
    color: white;
    text-decoration: none;
    padding-top: 0.5rem;
    font-size: 12px;
  }
}
