.IconPause{
  background-image: url("IconPause.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover {
    background-image: url("IconPauseBlue.svg");
  }
}